<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testSet" type="Twidlle.Infrastructure.CustomConfigSection, Twidlle.Infrastructure.Base"/>
  </configSections>

  <testSet BaseDir="..\..\..\" Config="Debug">
      <Item Name="Core" ProjectDir="Core.Tests" FileName="Twidlle.KeyboardTrainer.Core.Tests.exe"/>
      <Item Name="WinFormsApp" ProjectDir="WinFormsApp.Tests" FileName="Twidlle.KeyboardTrainer.WinFormsApp.Tests.exe"/>
  </testSet>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
