<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Twidlle.KeyboardTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
  <userSettings>
      <Twidlle.KeyboardTrainer.Properties.Settings>
          <setting name="LastFile" serializeAs="String">
              <value/>
          </setting>
          <setting name="Option_WorkoutType" serializeAs="String">
              <value>EnglishLetters</value>
          </setting>
          <setting name="Option_LocalLanguage" serializeAs="String">
              <value>ru</value>
          </setting>
          <setting name="Option_OpenLastFile" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="Option_Voice" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="MainForm" serializeAs="String">
              <value/>
          </setting>
      </Twidlle.KeyboardTrainer.Properties.Settings>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
