<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="applicationUnderTest" type="System.Configuration.NameValueFileSectionHandler"/>
  </configSections>

  <applicationUnderTest>
    <add key="ExePath" value="..\..\..\WinFormsApp\bin\DebugPacked\KeyboardTrainer.exe"/>
  </applicationUnderTest>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
