<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" fileName="${basedir}\${processname}.log" xsi:type="File" keepFileOpen="true" deleteOldFileOnStartup="false" header=".LOG">
      <layout xsi:type="CsvLayout" delimiter="Custom" customColumnDelimiter=" | " withHeader="false" quoting="Nothing">
        <column layout="${date}" />
        <column layout="${pad:fixedLength=true:padding=-5  :inner=${level}}" />
        <column layout="${pad:fixedLength=true:padding=-20 :inner=${mdc:FIXTURE}}" />
        <column layout="${pad:fixedLength=true:padding=-20 :inner=${mdc:TEST}}" />
        <column layout="${pad:fixedLength=true:padding=-32 :inner=${logger:shortName=true}" />
        <column layout="${message} ${exception:format=ToString}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>